{{define "content"}}
<a href="/web/apps/">&lt;&lt; Back</a>

<h1>Apps usage for team {{.Team}} in {{.Year}}</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Month</th>
			<th>Plan</th>
			<th>Usage</th>
		</tr>
	</thead>
	<tbody>
		{{range $item := .Usage}}
			{{$count := len $item.Usage}}
			{{range $i, $usage := $item.Usage}}
				<tr>
					{{if eq $i 0}}
						<th scope="row" rowspan="{{$count}}">{{$item.Month}}</th>
					{{end}}
					<td>{{$usage.Plan}}</td>
					<td>{{$usage.Usage}}</td>
				</tr>
			{{end}}
		{{end}}
	</tbody>
</table>
{{end}}
