{{define "content"}}
<div class="container mt-3">
	<a href="/web/apps/">&lt;&lt; Back</a>
</div>

<h1 class="my-4">Apps usage for {{.Team}} in {{.Year}}</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Month</th>
			<th>Plan</th>
			<th>Usage</th>
			<th>Unit cost</th>
			<th>Total cost</th>
		</tr>
	</thead>
	<tbody>
		{{range $item := .Usage}}
			{{$count := len $item.Usage}}
			{{range $i, $usage := $item.Usage}}
				<tr>
					{{if eq $i 0}}
						<td rowspan="{{$count}}">{{$item.Month}}</td>
					{{end}}
					<td>{{$usage.Plan}}</td>
					<td>{{$usage.Usage}}</td>
					<td>{{$usage.Cost.UnitCost}} {{$usage.Cost.MeasureUnit}}</td>
					<td>{{$usage.Cost.TotalCost}} {{$usage.Cost.MeasureUnit}}</td>
				</tr>
			{{end}}
		{{end}}
	</tbody>
	<tfoot>
		<tr>
			<th scope="row" colspan="2">Total</th>
			<th>{{.Total.Usage}}</th>
			<th>{{.Total.UnitCost}} {{.Total.MeasureUnit}}</th>
			<th>{{.Total.TotalCost}} {{.Total.MeasureUnit}}</th>
		</tr>
	</tfoot>
</table>
{{end}}
