{{define "content"}}
<div class="container mt-3">
	<a href="/web/pools">&lt;&lt; Back</a>
</div>

<h1 class="my-4">Tsuru usage for {{.PoolName}} in {{.Year}}</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Month</th>
			<th>Usage</th>
		</tr>
	</thead>
	<tbody>
		{{range $item := .Usage}}
			<tr>
				<td>{{$item.Month}}</td>
				<td>{{$item.Usage}}</td>
			</tr>
		{{end}}
	</tbody>
	<tfoot>
		<tr>
			<th scope="row">Total</th>
			<th>{{.Total}}</th>
		</tr>
	</tfoot>
</table>
{{end}}
