{{define "content"}}
<div class="container mt-3">
	<a href="/web/">&lt;&lt; Back</a>
</div>

<h1 class="my-4">Tsuru usage per service</h1>
<form>
	<div class="form-group row">
		<label for="team" class="col-sm-1 col-form-label">Team</label>
		<div class="col-sm-3">
			<select name="team" class="form-control">
				{{range $team := .}}
					<option value="{{$team}}">{{$team}}</option>
				{{end}}
			</select>
		</div>
	</div>

	<div class="form-group row">
		<label for="year" class="col-sm-1 col-form-label">Year</label>
		<div class="col-sm-3">
			<input type="number" size="4" name="year" required class="form-control" />
		</div>
	</div>

	<div class="form-group row mt-4">
		<div class="offset-sm-1 col-sm-3">
			<button type="submit" class="btn btn-primary btn-lg">Run</button>
		</div>
	</div>
</form>

<script>
	var form = document.querySelector("form");
	form.addEventListener("submit", event => {
		event.preventDefault();

		var formData = new FormData(event.target);
		var data = {};
		for (var [name, value] of formData.entries()) {
			data[name] = value;
		}
		window.location = "/web/services/" + data.team + "/" + data.year + "/";
	});
</script>
{{end}}

