{{define "content"}}
{{template "back"}}

<h1 class="my-4">Services usage for {{.GroupingType}} <strong>{{.TeamOrGroup}}</strong> in {{.Year}}</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Month</th>
			<th>Service</th>
			<th>Plan</th>
			<th>Usage</th>
			<th>Unit cost</th>
			<th>Total cost per service/plan</th>
			<th>Total cost per month</th>
		</tr>
	</thead>

	<tbody>
		{{range $item := .Usage}}
			{{$count := len $item.Usage}}
			{{range $i, $usage := $item.Usage}}
				<tr>
					{{if eq $i 0}}
						<td rowspan="{{$count}}">{{$item.Month}}</td>
					{{end}}
					<td>{{$usage.Service}}</td>
					<td>{{$usage.Plan}}</td>
					<td>{{$usage.Usage}}</td>
					<td>{{$usage.Cost.UnitCostValue}}</td>
					<td>{{$usage.Cost.TotalCostValue}}</td>
					{{if eq $i 0}}
						<td rowspan="{{$count}}">{{$.Total.MonthValue $item.Month}}</td>
					{{end}}
				</tr>
			{{end}}
		{{end}}
	</tbody>
	<tfoot>
		<tr>
			<th scope="row" colspan="3">Total</th>
			<th colspan="3">{{.Total.Usage}}</th>
			<th>{{.Total.TotalCostValue}}</th>
		</tr>
	</tfoot>
</table>
{{end}}
